<div class="d-flex flex-column flex-root">
  <!--begin::Login-->
  <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
    <!--begin::Aside-->
    <div class="login-aside d-flex flex-column flex-row-auto" style="background-color: #F2C98A;">
      <!--begin::Aside Top-->
      <div class="d-flex flex-column-auto flex-column pt-lg-40 pt-15">
        <!--begin::Aside header-->
        <a href="#" class="text-center mb-10">
          <img src="/metronic/theme/html/demo1/dist/assets/media/logos/logo-letter-1.png" class="max-h-70px" alt="" />
        </a>
        <!--end::Aside header-->
        <!--begin::Aside title-->
        <h3 class="font-weight-bolder text-center font-size-h4 font-size-h1-lg" style="color: #986923;">Discover Amazing Metronic
          <br />with great build tools</h3>
        <!--end::Aside title-->
      </div>
      <!--end::Aside Top-->
      <!--begin::Aside Bottom-->
      <div class="aside-img d-flex flex-row-fluid bgi-no-repeat bgi-position-y-bottom bgi-position-x-center" style="background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo5/dist/assets/media/svg/illustrations/login-visual-1.svg)"></div>
      <!--end::Aside Bottom-->
    </div>
    <!--begin::Aside-->
    <!--begin::Content-->
    <div class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
      <!--begin::Content body-->
      <div class="d-flex flex-column-fluid flex-center">
        <!--begin::Signin-->
        <div class="login-form login-signin">
          <!--begin::Form-->
          <form class="form"
                name="form"
                (ngSubmit)="f.form.valid && onSubmit()"
                #f="ngForm"
                novalidate>
            <!--begin::Title-->
            <div class="pb-13 pt-lg-0 pt-5">
              <span class="text-muted font-weight-bold font-size-h4">Nouveau ici ?
									<a (click)="showRegisterPage()" id="kt_login_signup" class="text-primary font-weight-bolder">Creer un compte</a>
              </span>
            </div>
            <!--begin::Title-->
            <!--begin::Form group-->
            <div class="form-group">
              <label class="font-size-h6 font-weight-bolder text-dark">Nom Utilisateur</label>
              <input class="form-control form-control-solid h-auto py-6 px-6 rounded-lg"
                     type="text" name="username" autocomplete="off"
                     [(ngModel)]="form.username"
                     required
                     #username="ngModel"/>
            </div>
            <div class="alert alert-custom alert-outline-primary fade show mb-5" role="alert" *ngIf="f.submitted && username.invalid">
              <div class="alert-icon">
                <span class="svg-icon svg-icon-primary svg-icon-2x">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <rect x="0" y="0" width="24" height="24"/>
                          <path d="M11.1669899,4.49941818 L2.82535718,19.5143571 C2.557144,19.9971408 2.7310878,20.6059441 3.21387153,20.8741573 C3.36242953,20.9566895 3.52957021,21 3.69951446,21 L21.2169432,21 C21.7692279,21 22.2169432,20.5522847 22.2169432,20 C22.2169432,19.8159952 22.1661743,19.6355579 22.070225,19.47855 L12.894429,4.4636111 C12.6064401,3.99235656 11.9909517,3.84379039 11.5196972,4.13177928 C11.3723594,4.22181902 11.2508468,4.34847583 11.1669899,4.49941818 Z" fill="#000000" opacity="0.3"/>
                          <rect fill="#000000" x="11" y="9" width="2" height="7" rx="1"/>
                          <rect fill="#000000" x="11" y="17" width="2" height="2" rx="1"/>
                      </g>
                  </svg>
                </span>
              </div>
              <div class="alert-text" *ngIf="username.errors.required">
                Le nom utilisateur est obligatoire !
              </div>
            </div>
            <!--end::Form group-->
            <!--begin::Form group-->
            <div class="form-group">
              <div class="d-flex justify-content-between mt-n5">
                <label class="font-size-h6 font-weight-bolder text-dark pt-5">Mot de passe</label>
              </div>
              <input class="form-control form-control-solid h-auto py-6 px-6 rounded-lg"
                     type="password" name="password" autocomplete="off"
                     [(ngModel)]="form.password"
                     required
                     #password="ngModel"/>
            </div>
            <div class="alert alert-custom alert-outline-primary fade show mb-5" role="alert" *ngIf="f.submitted && password.invalid">
              <div class="alert-icon">
                <span class="svg-icon svg-icon-primary svg-icon-2x">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <rect x="0" y="0" width="24" height="24"/>
                          <path d="M11.1669899,4.49941818 L2.82535718,19.5143571 C2.557144,19.9971408 2.7310878,20.6059441 3.21387153,20.8741573 C3.36242953,20.9566895 3.52957021,21 3.69951446,21 L21.2169432,21 C21.7692279,21 22.2169432,20.5522847 22.2169432,20 C22.2169432,19.8159952 22.1661743,19.6355579 22.070225,19.47855 L12.894429,4.4636111 C12.6064401,3.99235656 11.9909517,3.84379039 11.5196972,4.13177928 C11.3723594,4.22181902 11.2508468,4.34847583 11.1669899,4.49941818 Z" fill="#000000" opacity="0.3"/>
                          <rect fill="#000000" x="11" y="9" width="2" height="7" rx="1"/>
                          <rect fill="#000000" x="11" y="17" width="2" height="2" rx="1"/>
                      </g>
                  </svg>
                </span>
              </div>
              <div class="alert-text" *ngIf="password.errors.required">
                Le mot de passe est obligatoire !
              </div>
            </div>
            <!--end::Form group-->
            <!--begin::Action-->
            <div class="pb-lg-0 pb-5">
              <button class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Connexion</button>
            </div>
            <!--end::Action-->
            <div class="alert alert-custom alert-outline-primary fade show mb-5" role="alert" *ngIf="isLoginFailed">
              <div class="alert-icon">
                <span class="svg-icon svg-icon-primary svg-icon-2x">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <rect x="0" y="0" width="24" height="24"/>
                          <path d="M11.1669899,4.49941818 L2.82535718,19.5143571 C2.557144,19.9971408 2.7310878,20.6059441 3.21387153,20.8741573 C3.36242953,20.9566895 3.52957021,21 3.69951446,21 L21.2169432,21 C21.7692279,21 22.2169432,20.5522847 22.2169432,20 C22.2169432,19.8159952 22.1661743,19.6355579 22.070225,19.47855 L12.894429,4.4636111 C12.6064401,3.99235656 11.9909517,3.84379039 11.5196972,4.13177928 C11.3723594,4.22181902 11.2508468,4.34847583 11.1669899,4.49941818 Z" fill="#000000" opacity="0.3"/>
                          <rect fill="#000000" x="11" y="9" width="2" height="7" rx="1"/>
                          <rect fill="#000000" x="11" y="17" width="2" height="2" rx="1"/>
                      </g>
                  </svg>
                </span>
              </div>
              <div class="alert-text">
                Oups ! Veuillez verifier vos informations de connexion.
              </div>
            </div>
          </form>
          <!--end::Form-->
        </div>
        <!--end::Signin-->
      </div>
      <!--end::Content body-->
      <!--begin::Content footer-->
      <div class="d-flex justify-content-lg-start justify-content-center align-items-end py-7 py-lg-0">
        <div class="text-dark-50 font-size-lg font-weight-bolder mr-10">
          <span class="mr-1">2020©</span>
          <a class="text-dark-75 text-hover-primary">Home Purchase</a>
        </div>
      </div>
      <!--end::Content footer-->
    </div>
    <!--end::Content-->
  </div>
  <!--end::Login-->
</div>
