<div id="kt_header_mobile" class="header-mobile header-mobile-fixed">
  <!--begin::Logo-->
  <app-logo></app-logo>
  <!--end::Logo-->
  <!--begin::Toolbar-->
  <app-toolbar></app-toolbar>
  <!--end::Toolbar-->
</div>
<!--end::Header Mobile-->

<div class="d-flex flex-column flex-root">
  <!--begin::Page-->
  <div class="d-flex flex-row flex-column-fluid page">
    <!--begin::Aside-->
    <app-sidebar></app-sidebar>
    <!--end::Aside-->
    <!--begin::Wrapper-->
    <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
      <!--begin::Header-->
      <app-header></app-header>
      <!--end::Header-->
      <!--begin::Content-->
      <router-outlet></router-outlet>
      <!--end::Content-->
      <!--begin::Footer-->
      <app-footer></app-footer>
      <!--end::Footer-->
    </div>
    <!--end::Wrapper-->
  </div>
  <!--end::Page-->
</div>
<!--end::Main-->
