<div class="d-flex flex-column flex-root">
  <!--begin::Login-->
  <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
    <!--begin::Aside-->
    <div class="login-aside d-flex flex-column flex-row-auto" style="background-color: #F2C98A;">
      <!--begin::Aside Top-->
      <div class="d-flex flex-column-auto flex-column pt-lg-40 pt-15">
        <!--begin::Aside header-->
        <a href="#" class="text-center mb-10">
          <img src="/metronic/theme/html/demo1/dist/assets/media/logos/logo-letter-1.png" class="max-h-70px" alt="" />
        </a>
        <!--end::Aside header-->
        <!--begin::Aside title-->
        <h3 class="font-weight-bolder text-center font-size-h4 font-size-h1-lg" style="color: #986923;">Discover Amazing Metronic
          <br />with great build tools</h3>
        <!--end::Aside title-->
      </div>
      <!--end::Aside Top-->
      <!--begin::Aside Bottom-->
      <div class="aside-img d-flex flex-row-fluid bgi-no-repeat bgi-position-y-bottom bgi-position-x-center" style="background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo5/dist/assets/media/svg/illustrations/login-visual-1.svg)"></div>
      <!--end::Aside Bottom-->
    </div>
    <!--begin::Aside-->
    <!--begin::Content-->
    <div class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
      <!--begin::Content body-->
      <div class="d-flex flex-column-fluid flex-center">
        <!--begin::Signup-->
        <div class="login-form login-signup">
          <!--begin::Form-->
          <form class="form"
                *ngIf="!isSuccessful"
                name="form"
                (ngSubmit)="f.form.valid && onSubmit()"
                #f="ngForm"
                novalidate>
            <!--begin::Title-->
            <div class="pb-13 pt-lg-0 pt-5">
              <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">S'inscrire</h3>
              <p class="text-muted font-weight-bold font-size-h4">Entrez vos coordonnées pour créer votre compte</p>
            </div>
            <!--end::Title-->
            <!--begin::Form group-->
            <div class="form-group">
              <input class="form-control form-control-solid h-auto py-6 px-6 rounded-lg font-size-h6"
                     type="text" placeholder="Nom" name="lastname" autocomplete="off"
                     [(ngModel)]="form.lastname"
                     required
                     minlength="3"
                     maxlength="20"
                     #lastname="ngModel"
              />
            </div>
            <div class="alert alert-custom alert-outline-primary fade show mb-5" role="alert" *ngIf="f.submitted && lastname.invalid">
              <div class="alert-icon">
                <span class="svg-icon svg-icon-primary svg-icon-2x">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <rect x="0" y="0" width="24" height="24"/>
                          <path d="M11.1669899,4.49941818 L2.82535718,19.5143571 C2.557144,19.9971408 2.7310878,20.6059441 3.21387153,20.8741573 C3.36242953,20.9566895 3.52957021,21 3.69951446,21 L21.2169432,21 C21.7692279,21 22.2169432,20.5522847 22.2169432,20 C22.2169432,19.8159952 22.1661743,19.6355579 22.070225,19.47855 L12.894429,4.4636111 C12.6064401,3.99235656 11.9909517,3.84379039 11.5196972,4.13177928 C11.3723594,4.22181902 11.2508468,4.34847583 11.1669899,4.49941818 Z" fill="#000000" opacity="0.3"/>
                          <rect fill="#000000" x="11" y="9" width="2" height="7" rx="1"/>
                          <rect fill="#000000" x="11" y="17" width="2" height="2" rx="1"/>
                      </g>
                  </svg>
                </span>
              </div>
              <div class="alert-text" *ngIf="lastname.errors.required">
                Le nom est obligatoire !
              </div>
              <div class="alert-text" *ngIf="lastname.errors.minlength">
                Le nom doit contenir au moins 3 caracteres !
              </div>
              <div class="alert-text" *ngIf="lastname.errors.maxlength">
                Le nom doit contenir au plus 20 caracteres !
              </div>
            </div>
            <!--end::Form group-->
            <!--begin::Form group-->
            <div class="form-group">
              <input class="form-control form-control-solid h-auto py-6 px-6 rounded-lg font-size-h6"
                     type="text" placeholder="Prenom(s)" name="firstname" autocomplete="off"
                     [(ngModel)]="form.firstname"
                     required
                     minlength="3"
                     maxlength="50"
                     #firstname="ngModel"
              />
            </div>
            <div class="alert alert-custom alert-outline-primary fade show mb-5" role="alert" *ngIf="f.submitted && firstname.invalid">
              <div class="alert-icon">
                <span class="svg-icon svg-icon-primary svg-icon-2x">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <rect x="0" y="0" width="24" height="24"/>
                          <path d="M11.1669899,4.49941818 L2.82535718,19.5143571 C2.557144,19.9971408 2.7310878,20.6059441 3.21387153,20.8741573 C3.36242953,20.9566895 3.52957021,21 3.69951446,21 L21.2169432,21 C21.7692279,21 22.2169432,20.5522847 22.2169432,20 C22.2169432,19.8159952 22.1661743,19.6355579 22.070225,19.47855 L12.894429,4.4636111 C12.6064401,3.99235656 11.9909517,3.84379039 11.5196972,4.13177928 C11.3723594,4.22181902 11.2508468,4.34847583 11.1669899,4.49941818 Z" fill="#000000" opacity="0.3"/>
                          <rect fill="#000000" x="11" y="9" width="2" height="7" rx="1"/>
                          <rect fill="#000000" x="11" y="17" width="2" height="2" rx="1"/>
                      </g>
                  </svg>
                </span>
              </div>
              <div class="alert-text" *ngIf="firstname.errors.required">
                Le prenom(s) est obligatoire !
              </div>
              <div class="alert-text" *ngIf="firstname.errors.minlength">
                Le prenom(s) doit contenir au moins 3 caracteres !
              </div>
              <div class="alert-text" *ngIf="firstname.errors.maxlength">
                Le nom doit contenir au plus 50 caracteres !
              </div>
            </div>
            <!--end::Form group-->
            <!--begin::Form group-->
            <div class="form-group">
              <input class="form-control form-control-solid h-auto py-6 px-6 rounded-lg font-size-h6"
                     type="text" placeholder="Nom Utilisateur" name="username" autocomplete="off"
                     [(ngModel)]="form.username"
                     required
                     minlength="3"
                     maxlength="20"
                     #username="ngModel"
              />
            </div>
            <div class="alert alert-custom alert-outline-primary fade show mb-5" role="alert" *ngIf="f.submitted && username.invalid">
              <div class="alert-icon">
                <span class="svg-icon svg-icon-primary svg-icon-2x">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <rect x="0" y="0" width="24" height="24"/>
                          <path d="M11.1669899,4.49941818 L2.82535718,19.5143571 C2.557144,19.9971408 2.7310878,20.6059441 3.21387153,20.8741573 C3.36242953,20.9566895 3.52957021,21 3.69951446,21 L21.2169432,21 C21.7692279,21 22.2169432,20.5522847 22.2169432,20 C22.2169432,19.8159952 22.1661743,19.6355579 22.070225,19.47855 L12.894429,4.4636111 C12.6064401,3.99235656 11.9909517,3.84379039 11.5196972,4.13177928 C11.3723594,4.22181902 11.2508468,4.34847583 11.1669899,4.49941818 Z" fill="#000000" opacity="0.3"/>
                          <rect fill="#000000" x="11" y="9" width="2" height="7" rx="1"/>
                          <rect fill="#000000" x="11" y="17" width="2" height="2" rx="1"/>
                      </g>
                  </svg>
                </span>
              </div>
              <div class="alert-text" *ngIf="username.errors.required">
                Le nom utilisateur est obligatoire !
              </div>
              <div class="alert-text" *ngIf="username.errors.minlength">
                Le nom utilisateur doit contenir au moins 3 caracteres !
              </div>
              <div class="alert-text" *ngIf="username.errors.maxlength">
                Le nom utilisateur doit contenir au plus 20 caracteres !
              </div>
            </div>
            <!--end::Form group-->
            <!--begin::Form group-->
            <div class="form-group">
              <input class="form-control form-control-solid h-auto py-6 px-6 rounded-lg font-size-h6"
                     type="password" placeholder="Mot de passe" name="password" autocomplete="off"
                     [(ngModel)]="form.password"
                     required
                     minlength="5"
                     maxlength="150"
                     #password="ngModel"
              />
            </div>
            <div class="alert alert-custom alert-outline-primary fade show mb-5" role="alert" *ngIf="f.submitted && password.invalid">
              <div class="alert-icon">
                <span class="svg-icon svg-icon-primary svg-icon-2x">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <rect x="0" y="0" width="24" height="24"/>
                          <path d="M11.1669899,4.49941818 L2.82535718,19.5143571 C2.557144,19.9971408 2.7310878,20.6059441 3.21387153,20.8741573 C3.36242953,20.9566895 3.52957021,21 3.69951446,21 L21.2169432,21 C21.7692279,21 22.2169432,20.5522847 22.2169432,20 C22.2169432,19.8159952 22.1661743,19.6355579 22.070225,19.47855 L12.894429,4.4636111 C12.6064401,3.99235656 11.9909517,3.84379039 11.5196972,4.13177928 C11.3723594,4.22181902 11.2508468,4.34847583 11.1669899,4.49941818 Z" fill="#000000" opacity="0.3"/>
                          <rect fill="#000000" x="11" y="9" width="2" height="7" rx="1"/>
                          <rect fill="#000000" x="11" y="17" width="2" height="2" rx="1"/>
                      </g>
                  </svg>
                </span>
              </div>
              <div class="alert-text" *ngIf="password.errors.required">
                Le mot de passe est obligatoire !
              </div>
              <div class="alert-text" *ngIf="password.errors.minlength">
                Le mot de passe doit contenir au moins 5 caracteres !
              </div>
              <div class="alert-text" *ngIf="password.errors.maxlength">
                Le mot de passe doit contenir au plus 150 caracteres !
              </div>
            </div>
            <!--begin::Form group-->
            <div class="form-group d-flex flex-wrap pb-lg-0 pb-3">
              <button class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4">Valider</button>
              <button class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3" (click)="showLoginPage()">Annuler</button>
            </div>
            <!--end::Form group-->
          </form>
          <div class="card card-custom gutter-b bg-diagonal bg-diagonal-light-success" *ngIf="isSuccessful">
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap">
                <div class="d-flex flex-column mr-5">
                  <p class="text-dark-50">
                   Enregistrement effectue avec success !
                  </p>
                </div>
                <div class="ml-6 ml-lg-0 ml-xxl-6 flex-shrink-0">
                  <a (click)="showLoginPage()" class="btn font-weight-bolder text-uppercase btn-success py-4 px-6">
                    Se connecter
                              <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-10-29-133027/theme/html/demo5/dist/../src/media/svg/icons/Navigation/Angle-double-right.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                  <polygon points="0 0 24 0 24 24 0 24"/>
                                                  <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"/>
                                                  <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "/>
                                              </g>
                                          </svg><!--end::Svg Icon-->
                                </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--end::Form-->
        </div>
        <!--end::Signup-->
      </div>
      <!--end::Content body-->
      <!--begin::Content footer-->
      <div class="d-flex justify-content-lg-start justify-content-center align-items-end py-7 py-lg-0">
        <div class="text-dark-50 font-size-lg font-weight-bolder mr-10">
          <span class="mr-1">2020©</span>
          <a class="text-dark-75 text-hover-primary">Home Purchase</a>
        </div>
      </div>
      <!--end::Content footer-->
    </div>
    <!--end::Content-->
  </div>
  <!--end::Login-->
</div>
